#--------------------------------------------------------------------

#####################################################################
#	Printing macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    CG28
    M117 Leveling Gantry
    Z_TILT_ADJUST
    M117 Create Bed Mesh
    BED_MESH_CALIBRATE

#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  LIGHTS PS=3         # Sets SB-leds to homing-mode
  G28                   # Full home (XYZ)
  G90                   # Absolute position

  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
# Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    LIGHTS PS=2                                         # Sets SB-leds to heating-mode
    M106 S255                                           # Turns on the PT-fan3
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed    
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Hotend: 150c"                 # Displays info
    M109 S150                                           # Heats the nozzle to 150c
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

# If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    LIGHTS PS=2                                         # Sets SB-leds to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5min"                # Displays info
    G4 P300000                                          # Waits 5 min for the bedtemp to stabilize
  {% endif %}
                              
  CLEAN_NOZZLE P=0 W=5            

# Z Tild Adjust
  SET_DISPLAY_TEXT MSG="QGL"      # Displays info  
  LIGHTS PS=3                     # Sets SB-leds to leveling-mode
  Z_TILT_ADJUST                   # Levels the buildplate via Z Tilt Adjust
  G28 Z                           # Homes Z again after QGL

#Create Bed Mesh For New Print
  SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  LIGHTS PS=3                     # Sets SB-leds to bed mesh-mode
  BED_MESH_CALIBRATE                 # Starts bed mesh

# Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  LIGHTS PS=2                                                   # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                              # Goes to center of the bed
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp

# Gets ready to print by doing a purge line and updating the SB-leds
  CLEAN_NOZZLE P=1 W=3                             # Final Nozzle Cleaning
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1	# Enable Smart Filament Sensor
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  LIGHTS PS=4                                      # Sets SB-leds to printing-mode
  G0 X{x_wait - 50} Y4 F10000                      # Moves to starting point
  G0 Z0.4                                          # Raises Z to 0.4
  G91                                              # Incremental positioning 
  G1 X100 E20 F1000                                # Purge line
  G90                                              # Absolute position

#####################################################################
#   purge_line macro
#####################################################################
[gcode_macro PURGE_LINE]
#   A purge line on the left of the bed to prime the extruder
gcode:
    G1 X13 Y20 Z0.3 F6000        ; move to start position
    G1 X13 Y200 Z0.3 F1500 E10    ; extrude the first line
    G1 X13.5 Y200 Z0.3 F6000       ; move to side a little
    G1 X13.5 Y20 Z0.3 F1500.0 E20   ; extrude the second line
    G1 Z2.0 E18 F3000              ; move nozzle up and retract tiny bit

#####################################################################
#   print_end macro
#####################################################################
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F9000    ; move nozzle to remove stringing
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0	;Disable Filament Sensor
    TURN_OFF_HEATERS               ;Turns off bed and hotend heaters
    #SET_PIN PIN=nevermore VALUE=0  ; turn off Nevermore
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0 X125 Y250 Z50 F3600            ; park nozzle at rear
    LIGHTS PS=5
    BED_MESH_CLEAR

[gcode_macro PARKNOZZLEHEAT]
description: Park the extruder near the purge bucket. Z at 20mm. Perams: NONE
gcode:
    {action_respond_info("Parking EXTRUDER near the purge bucket. Z at 20mm...")}
    CG28
    SAVE_GCODE_STATE NAME=PARKNOZZLEHEAT
    G90
    G0 X{printer.toolhead.axis_maximum.x/3} Y{printer.toolhead.axis_maximum.y-3} Z20 F7500
    RESTORE_GCODE_STATE NAME=PARKNOZZLEHEAT


[gcode_macro WAIT]
description: Wait a specified number of seconds. PERAMS: S
gcode:
    {% set seconds = params.S|default(0)|int %}
    {% if seconds == 0 %}
        {action_respond_info("No amount of time was specifed! Not Waiting!") }
    {% else %}
        {action_respond_info("Waiting %.0f seconds..." % (seconds)) }
        G4 P{seconds * 1000}
    {% endif %}

[bed_mesh]
speed: 200
horizontal_move_z: 5
##  Uncomment below for 250mm build
#mesh_min: 40, 40
#mesh_max: 210,210
##  Uncomment for 300mm build
#mesh_min: 40, 40
#mesh_max: 260,260
##  Uncomment for 350mm build
mesh_min: 40, 40
mesh_max: 310, 310
fade_start: 0.6
fade_end: 10.0
probe_count: 9,9
mesh_pps: 2,2
algorithm: bicubic
relative_reference_index: 40




